# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# C extensions
*.so
*.pyd
*.dylib

# Testing
.pytest_cache/

# Docs
docs/_build/

# IDEs
.vscode/
.idea/

# Examples output
examples/*.pdf

# OS
.DS_Store
Thumbs.db


.claude
